body {
  background: #cccccc;
  font-family: "Roboto", sans-serif;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  padding: 5px;
}

page[size=A4] {
  width: 21cm;
  height: 33.7cm;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}
.container #main, .container #sidebar {
  margin: 8px;
}
.container #main {
  width: 75%;
  border-left: 1px solid #dadada;
}
.container #sidebar {
  width: 25%;
}
.container h1, .container h2, .container h3 {
  margin: 0;
  text-transform: uppercase;
}
.container h1 {
  font-size: 16pt;
}
.container h2 {
  font-size: 12pt;
}
.container h3 {
  font-size: 10pt;
}
.container p, .container ul {
  font-weight: 300;
  font-size: 10pt;
  line-height: 20px;
}
.container ul {
  padding: 0px 0 0 15px;
  margin-bottom: 0;
}

.block {
  padding: 8px;
  border-bottom: 0.5px solid #dadada;
}
.block.intro {
  border-bottom: 3px solid #dadada;
}
.block.job {
  padding: 20px 14px;
}
.block .block-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: baseline;
}
.block .block-sub-header {
  display: flex;
  margin-top: 8px;
  column-gap: 12px;
  text-transform: uppercase;
}
.block .block-header .item {
  font-size: 12pt;
}
.block .block-header .light-text, .block .block-sub-header .light-text {
  font-weight: 100;
}
.block .block-footer {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: baseline;
  font-weight: 300;
}
.block .block-footer .item {
  font-size: 9pt;
}
.block.title {
  margin-bottom: 10px;
}
.block.side {
  padding-top:0;
}
.block.side p {
  margin: 0;
}
.block.side h3 {
  margin-bottom: 4.5px;
  margin-top: 8px;
}
.block.side .skills {
  display: flex;
  justify-content: space-between;
}
.block.side ul {
  font-size: 11px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0
}
.small-text {
  font-size: 12px!important;
}
.very-small-text {
  font-size: 10px!important;
}
.linkedin {
  color: #2867B2;
}

.number {
  color: #DB4437;
}

.email {
  color: #F4B400;
}

.website {
  color: #0F9D58;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

i {
  padding-right: 2.5px;
}
i.extra-pad {
  padding-right: 5px;
}

img {
  width: 75px;
  padding-right: 5px;
}
